[Unit]
Description=Speedtest exporter for prometheus
Documentation=https://github.com/nlamirault/speedtest_exporter
Wants=network-online.target
After=network-online.target

[Install]
WantedBy=multi-user.target

[Service]
Type=simple
KillMode=process
Restart=always
RestartSec=5s
ExecStart=/usr/local/bin/speedtest_exporter

